{% extends 'basic/standart.html' %}

{% block title %} О нас {% endblock %}


{% block content%} <h1 align="center"> Немного о нас</h1>

{% load static %}
<div style="display: flex; flex-direction: row; justify-content: space-between;">

    <div style= "width: 300px; height: 300px;" class="container">
        <img src="{% static 'basic/img/VKL.jpg' %}" >

    </div>
    <div>
        <p>
            Клуб военно-исторической реконструкции «Веруш» – это объединение людей, увлекающихся историей средневековья
            Западной Европы 14-15вв.
            Кллуб существует на протяжении более двух десятков лет. Постоянные поездки на фестивали, участие и
            организыция
            соревнований, тренировки, походы, изучение истории, работа в мастерской, путешествия по историческим местам
            являются постоянной и неотьемлемой частью жизни клуба.
        </p>
        <p>
            Основные направления деятельности клуба:<br>
            • Реконструкция и воссоздание быта, ремёсел, традиций и боевого искусства Западной Европы позднего
            средневековья
            (14-15 вв.)<br>
            • Реконструкция ополчения города Верушув (Верушувский повят,Лодзинское воеводство, Королевство Польша)<br>
            • Развитие Исторического Среденевекового Боя (ИСБ), а так же Современного Мечевого Боя (СМБ).<br>
            • Открытые уроки на базе клуба<br>
            • Организация фестивалей<br>
            • Развитие и поддержание интереса к истории у молодежи<br>
        </p>
    </div>
    <div style= "width: 300px; height: 300px;" class="container">
        <img src="{% static 'basic/img/VKL.jpg' %}" >

    </div>
</div>




{% endblock %}