{% extends 'basic/standart.html' %}

{% block title %} СМБ {% endblock %}


{% block content%}

<style>
    img {
        margin: 5px;
    }

    p {
        margin: 5px;
    }
</style>
{% load static %}

<h1> Современный Мечевой бой</h1>
<div>
    <img style="float:left ;" src="{% static 'basic/img/SMB2.jpg' %}" height="200px">
    <p style="font-size: 1.3rem">
        Современный Мечевой бой, сокр. СМБ (англ. Modern Sword Fighting) — полноконтактный вид спортивного единоборства,
        представляющий собой поединок или групповой бой спортсменов, с применением безопасных имитаторов средневекового
        клинкового оружия — «спортивного меча» и «спортивного щита», изготовленных из мягких полимерных материалов.
    </p>
    <img style="float:right ;" src="{% static 'basic/img/SMB1.jpg' %}" height="300px">
    <p style="font-size: 1.3rem; ">Современный Мечевой бой зародился в России как общественное движение любителей
        имитационного фехтования.


        Чемпионат Мира по СМБ 2019, Минск
        С 2011 года было проведено 350 турниров различного уровня в разных странах; 76 семинаров, на которых
        подготовлено около 700 инструкторов и судей.

        В марте 2019 года 20 национальных команд по Современному Мечевому бою приняли участие в I Чемпионате Мира по
        Современному Мечевому Бою в Белоруси (Минск). Чемпионат посетили национальные команды: Азербайджана,
        Белоруси, Великобритании, Греции, Израиля, Италии, Киргизстана, Кипра, Латвии, Перу, России,
        Украины, Молдовы, Польши, Эстонии, Турции, Узбекистана, Франции, США и Португалии. Рекордные бои по
        Современному Мечевому Бою были проведены на Фестивале национальных видов спорта «Русский мир» 12 июня 2019 г. на
        Благовещенском поле в Сергиевом Посаде. Федерация современного мечевого боя РФ представила маневры «333 богатыря
        — бой на мечах» трёх дружин — Белой, Синей и Красной, приняли участие 300 бойцов.
    </p>

    <p style="font-size: 1.3rem; ">
        Чем полезно СМБ<br>
        1. Ребёнок получает хорошее физическое развитие с радостью. Тренировки дают прирост силы, выносливости, ловкости
        и координации движений. Улучшаются все физические показатели, при этом дети получают удовольствие от занятий.<br>


        2. Ребенок улучшает скорость реакции и скорость обработки информации, принятия решений. Представьте сколько
        осознанных действий обычный человек может выполнить за 1 секунду? Обычно одно - два. Наши спортсмены и бойцы
        различных боевых искусств с оружием за одну секунду могут не только обработать десятки приходящих стимулов, но и
        молниеносно принять решение о том, что нужно делать, а главное выполнить до 7 осознанных действий! Представьте,
        как улучшится при этом способность учиться! Осваивать любой материал будет легче и быстрее.<br>


        3.Мы развиваем в детях заинтересованность, связанную с реальностью, в противовес компьютерным играм и сидению с
        планшетом в руках.
        Ни для кого уже не секрет, что наши дети - Миллениалы (родившиеся после 2000-х в эпоху цифровых технологий)
        живут наполовину, а то и больше, в сети. И для них цифровой мир порой более реален и привлекателен, чем
        окружающая реальность. Так вот, наши тренировки дают детям яркие переживания реальности и помогают ребёнку
        сохранить связь "с миром живых людей", а следовательно, и со своими Родителями, более далёким от цифрового мира.
        Таким образом, у ребёнка появляется большая мотивация к реальным контактам, к общению, к регулярным занятиям
        спортом.<br>

    </p><br>
    <div style="display: flex; flex-direction: row; justify-content: space-around;">
        <img src="{% static 'basic/img/SMB3.jpg' %}" height="300px" width="450px">
        <img src="{% static 'basic/img/SMB6.jpg' %}" height="300px" width="450px">
        <img src="{% static 'basic/img/SMB5.jpg' %}" height="300px" width="450px">
    </div>
</div>



<h2> форма для записи в секцию СМБ</h2>
<div style="width: 500px">
    <form method="post">

        {% csrf_token %}

        {{ form.surname }}<br>
        {{ form.name }}<br>
        {{ form.age }}<br>
        {{ form.gender }}<br>
        {{ form.add_info }}<br>
        {{ form.phone_number }}<br>
        <span> {{ok}}</span>




        <!-- <input type="text" placeholder="Фамилия" autofocus size="25" required pattern="^[А-Яа-яЁё]+$" class = "form-control"> <br>
        <input type="text" placeholder="Имя" size="20" required pattern="^[А-Яа-яЁё]+$" class = "form-control"> <br>
        <input type="text" placeholder="Возраст" size="4" maxlength="4" class = "form-control"> <br>
        <select name="gender" placeholder="Пол" class = "form-control">
            <option value="1">Мужской</option>
            <option value="2">Женский</option>
        </select> <br>
        <textarea name="add_info" placeholder="Противопоказания по физ.нагрузкам (если имеются)" class = "form-control"></textarea><br> -->
        <button class="btn btn-success" type='submit'> Записаться в секцию </button>
    </form>

</div>





{% endblock %}